@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



.pop{
  font-family: "Poppins", sans-serif;
}

.bangla{
  font-family: "Noto Sans Bengali", sans-serif;
}
/* Define default light mode */

  
  /* Dark mode styles */
  .dark-mode {
    background-color: #262525;
    color: aliceblue;
  }
  
  /* Add to your global CSS or a specific CSS module */
.scrollbar-thin {
  scrollbar-width: thin;
}

.scrollbar-thumb-gray-900 {
  scrollbar-color: #1a202c #edf2f7;
}

.scrollbar-track-gray-100 {
  scrollbar-color: #edf2f7 #edf2f7;
}

  